@charset "UTF-8";
@font-face {
  font-family: 'Dosis-Bold';
  src: url("../fonts/Dosis-Bold.eot");
  src: local("☺"), url("../fonts/Dosis-Bold.woff") format("woff"), url("../fonts/Dosis-Bold.ttf") format("truetype"), url("../fonts/Dosis-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Dosis-ExtraBold';
  src: url("../fonts/Dosis-ExtraBold.eot");
  src: local("☺"), url("../fonts/Dosis-ExtraBold.woff") format("woff"), url("../fonts/Dosis-ExtraBold.ttf") format("truetype"), url("../fonts/Dosis-ExtraBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Dosis-ExtraLight';
  src: url("../fonts/Dosis-ExtraLight.eot");
  src: local("☺"), url("../fonts/Dosis-ExtraLight.woff") format("woff"), url("../fonts/Dosis-ExtraLight.ttf") format("truetype"), url("../fonts/Dosis-ExtraLight.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Dosis-Light';
  src: url("../fonts/Dosis-Light.eot");
  src: local("☺"), url("../fonts/Dosis-Light.woff") format("woff"), url("../fonts/Dosis-Light.ttf") format("truetype"), url("../fonts/Dosis-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Dosis-Medium';
  src: url("../fonts/Dosis-Medium.eot");
  src: local("☺"), url("../fonts/Dosis-Medium.woff") format("woff"), url("../fonts/Dosis-Medium.ttf") format("truetype"), url("../fonts/Dosis-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Dosis-Regular';
  src: url("../fonts/Dosis-Regular.eot");
  src: local("☺"), url("../fonts/Dosis-Regular.woff") format("woff"), url("../fonts/Dosis-Regular.ttf") format("truetype"), url("../fonts/Dosis-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Dosis-SemiBold';
  src: url("../fonts/Dosis-SemiBold.eot");
  src: local("☺"), url("../fonts/Dosis-SemiBold.woff") format("woff"), url("../fonts/Dosis-SemiBold.ttf") format("truetype"), url("../fonts/Dosis-SemiBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Titillium-Light';
  src: url("../fonts/Titillium-Light.eot");
  src: local("☺"), url("../fonts/Titillium-Light.woff") format("woff"), url("../fonts/Titillium-Light.ttf") format("truetype"), url("../fonts/Titillium-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Titillium-Regular';
  src: url("../fonts/Titillium-SemiBold.eot");
  src: local("☺"), url("../fonts/Titillium-Regular.woff") format("woff"), url("../fonts/Titillium-Regular.ttf") format("truetype"), url("../fonts/Titillium-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Titillium-Semibold';
  src: url("../fonts/Titillium-Semibold.eot");
  src: local("☺"), url("../fonts/Titillium-Semibold.woff") format("woff"), url("../fonts/Titillium-Semibold.ttf") format("truetype"), url("../fonts/Titillium-Semibold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 83, ../sass/custom.scss */
strong {
  font-family: 'Dosis-SemiBold';
}

/* line 87, ../sass/custom.scss */
.clearfix {
  clear: both;
}

/* line 91, ../sass/custom.scss */
h3 {
  color: #515151;
  font-size: 40px;
  font-family: 'Dosis-Light';
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media only screen and (max-width: 870px) {
  /* line 91, ../sass/custom.scss */
  h3 {
    font-size: 30px;
  }
}

/* line 104, ../sass/custom.scss */
h2 {
  font-size: 40px;
}
@media only screen and (max-width: 500px) {
  /* line 104, ../sass/custom.scss */
  h2 {
    font-size: 28px;
  }
}

/* line 112, ../sass/custom.scss */
.index {
  min-width: 320px;
}
/* line 115, ../sass/custom.scss */
.index #header {
  padding: 13px 0 10px;
  height: 83px;
}
@media only screen and (max-width: 980px) {
  /* line 115, ../sass/custom.scss */
  .index #header {
    padding: 23px 0 10px;
    height: 73px;
  }
}
@media only screen and (max-width: 870px) {
  /* line 115, ../sass/custom.scss */
  .index #header {
    padding: 0;
    height: auto;
  }
}
/* line 129, ../sass/custom.scss */
.index #header .mobile_toggle {
  margin: 3px 0;
  background: url("../img/menu_grey.png") no-repeat center center white;
  background-size: 50%;
}
/* line 134, ../sass/custom.scss */
.index #header .mobile_toggle:hover {
  background-image: url("../img/menu_green.png");
}
/* line 139, ../sass/custom.scss */
.index #header .container {
  padding: 5px 15px;
}
@media only screen and (max-width: 870px) {
  /* line 139, ../sass/custom.scss */
  .index #header .container {
    padding: 19px 15px;
  }
}
/* line 146, ../sass/custom.scss */
.index #header .container #logo {
  vertical-align: middle;
  width: 22%;
}
@media only screen and (max-width: 870px) {
  /* line 146, ../sass/custom.scss */
  .index #header .container #logo {
    width: 50%;
    max-width: 175px;
  }
}
/* line 155, ../sass/custom.scss */
.index #header .container #logo img {
  height: auto;
  width: 100%;
  padding-top: 0;
}
/* line 162, ../sass/custom.scss */
.index #header .container #menu_top {
  width: 77%;
  padding-top: 0;
  vertical-align: middle;
  top: 3px;
}
/* line 169, ../sass/custom.scss */
.index #header .container #menu_top .toggle span {
  vertical-align: middle;
  padding: 29px 0;
}
@media only screen and (max-width: 870px) {
  /* line 169, ../sass/custom.scss */
  .index #header .container #menu_top .toggle span {
    padding: 10px 0;
  }
}
/* line 178, ../sass/custom.scss */
.index #header .container #menu_top .toggle span.active a {
  color: white;
  background: #61b573;
  border-radius: 1000px;
  cursor: default;
}
/* line 184, ../sass/custom.scss */
.index #header .container #menu_top .toggle span.active a:hover {
  color: white;
}
/* line 190, ../sass/custom.scss */
.index #header .container #menu_top .toggle span a {
  font-size: 20px;
  font-family: 'Dosis-SemiBold';
  color: #565656;
  padding: 9px 2% 10px;
}
/* line 196, ../sass/custom.scss */
.index #header .container #menu_top .toggle span a:hover {
  color: #61b573;
}
/* line 201, ../sass/custom.scss */
.index #header .container #menu_top .toggle span.phone {
  width: 15%;
  display: inline-block;
  text-align: center;
  padding: 0;
  font-size: 24px;
  font-family: 'Dosis-Regular';
}
@media only screen and (max-width: 1200px) {
  /* line 201, ../sass/custom.scss */
  .index #header .container #menu_top .toggle span.phone {
    font-size: 20px;
  }
}
@media only screen and (max-width: 980px) {
  /* line 201, ../sass/custom.scss */
  .index #header .container #menu_top .toggle span.phone {
    display: none;
  }
}
/* line 217, ../sass/custom.scss */
.index #header .container #menu_top .toggle span.phone img {
  width: 36px;
}
/* line 227, ../sass/custom.scss */
.index #main {
  padding-top: 106px;
  background-color: white;
}
@media only screen and (max-width: 870px) {
  /* line 227, ../sass/custom.scss */
  .index #main {
    padding-top: 80px;
  }
}
/* line 235, ../sass/custom.scss */
.index #main .btn {
  display: inline-block;
  border-radius: 1000px;
  text-transform: uppercase;
  color: white !important;
  padding: 15px 30px;
  font-size: 30px !important;
  font-family: 'Dosis-SemiBold' !important;
  box-shadow: none;
  border: none;
  text-shadow: none;
  transition: background 300ms ease-out;
}
/* line 248, ../sass/custom.scss */
.index #main .btn.green {
  background: #61b573;
}
/* line 251, ../sass/custom.scss */
.index #main .btn.green:hover {
  background: #51ac64;
}
/* line 256, ../sass/custom.scss */
.index #main .btn.wine {
  background: #c4334b;
}
/* line 259, ../sass/custom.scss */
.index #main .btn.wine:hover {
  background: #b02e43;
}
/* line 267, ../sass/custom.scss */
.index #main #content #main_title {
  background: url(../img/main_title_bg.png) no-repeat center #a02136;
  padding: 24px 0 18px;
}
/* line 274, ../sass/custom.scss */
.index #main #content #main_title .container hgroup h1 {
  font-size: 50px;
  font-family: 'Dosis-Light';
  color: white;
}
/* line 279, ../sass/custom.scss */
.index #main #content #main_title .container hgroup h1 span {
  color: #eac220;
}
@media only screen and (max-width: 870px) {
  /* line 274, ../sass/custom.scss */
  .index #main #content #main_title .container hgroup h1 {
    font-size: 38px;
  }
}
/* line 288, ../sass/custom.scss */
.index #main #content #main_title .container hgroup p {
  font-family: 'Dosis-Regular';
  font-size: 30px;
  color: white;
  margin: 8px 0 12px;
}
@media only screen and (max-width: 870px) {
  /* line 288, ../sass/custom.scss */
  .index #main #content #main_title .container hgroup p {
    font-size: 25px;
  }
}
/* line 300, ../sass/custom.scss */
.index #main #content #main_title .container .men {
  width: 345px;
  position: absolute;
  right: 115px;
  top: 6px;
}
@media only screen and (max-width: 1200px) {
  /* line 300, ../sass/custom.scss */
  .index #main #content #main_title .container .men {
    right: 0;
  }
}
@media only screen and (max-width: 870px) {
  /* line 300, ../sass/custom.scss */
  .index #main #content #main_title .container .men {
    display: none;
  }
}
/* line 315, ../sass/custom.scss */
.index #main #content #main_title .container .btn-box {
  height: 68px;
  padding: 10px 0px;
}
@media only screen and (max-width: 870px) {
  /* line 315, ../sass/custom.scss */
  .index #main #content #main_title .container .btn-box {
    text-align: center;
  }
}
/* line 323, ../sass/custom.scss */
.index #main #content #main_title .container .btn-box .arrow {
  height: 100%;
  top: -10px;
  margin-left: 30px;
}
@media only screen and (max-width: 870px) {
  /* line 323, ../sass/custom.scss */
  .index #main #content #main_title .container .btn-box .arrow {
    display: none;
  }
}
/* line 333, ../sass/custom.scss */
.index #main #content #main_title .container .btn-box .arrow, .index #main #content #main_title .container .btn-box .btn {
  vertical-align: middle;
}
/* line 340, ../sass/custom.scss */
.index #main #content #advantages, .index #main #content #form-embed {
  padding: 20px 0;
}
/* line 345, ../sass/custom.scss */
.index #main #content .container #advantages {
  padding: 20px 0;
  width: 47%;
  float: left;
}
@media only screen and (max-width: 870px) {
  /* line 345, ../sass/custom.scss */
  .index #main #content .container #advantages {
    float: none;
    width: 100%;
  }
}
/* line 355, ../sass/custom.scss */
.index #main #content .container #advantages hgroup {
  margin-bottom: 45px;
  margin-top: -10px;
}
@media only screen and (max-width: 500px) {
  /* line 355, ../sass/custom.scss */
  .index #main #content .container #advantages hgroup {
    margin-bottom: 30px;
  }
}
/* line 363, ../sass/custom.scss */
.index #main #content .container #advantages hgroup h2 {
  font-family: 'Dosis-Light';
}
/* line 366, ../sass/custom.scss */
.index #main #content .container #advantages hgroup h2 strong {
  font-family: 'Dosis-Medium';
  border-bottom: 4px solid #ffeb99;
}
/* line 371, ../sass/custom.scss */
.index #main #content .container #advantages hgroup h2 span {
  color: #a02136;
  font-size: 30px;
}
@media only screen and (max-width: 500px) {
  /* line 371, ../sass/custom.scss */
  .index #main #content .container #advantages hgroup h2 span {
    font-size: 21px;
  }
}
/* line 382, ../sass/custom.scss */
.index #main #content .container #advantages .note {
  position: absolute;
  top: -60px;
  right: 75px;
  width: 175px;
  height: 207px;
  background: url(../img/notes.png) no-repeat center;
  background-size: 100%;
}
@media only screen and (max-width: 1200px) {
  /* line 382, ../sass/custom.scss */
  .index #main #content .container #advantages .note {
    right: 0;
  }
}
@media only screen and (max-width: 1200px) {
  /* line 382, ../sass/custom.scss */
  .index #main #content .container #advantages .note {
    right: -30px;
    z-index: 100;
  }
}
@media only screen and (max-width: 870px) {
  /* line 382, ../sass/custom.scss */
  .index #main #content .container #advantages .note {
    right: 0;
    top: -40px;
  }
}
@media only screen and (max-width: 500px) {
  /* line 382, ../sass/custom.scss */
  .index #main #content .container #advantages .note {
    width: 115px;
    height: 130px;
    top: -20px;
  }
}
/* line 411, ../sass/custom.scss */
.index #main #content .container #advantages .note p {
  padding-top: 60px;
  font-family: 'Dosis-Regular';
  color: #a02136;
  font-size: 36px;
  text-align: center;
  transform: rotate(5deg);
}
@media only screen and (max-width: 500px) {
  /* line 411, ../sass/custom.scss */
  .index #main #content .container #advantages .note p {
    font-size: 24px;
    padding-top: 40px;
  }
}
/* line 424, ../sass/custom.scss */
.index #main #content .container #advantages .note p span {
  display: block;
  font-size: 64px;
  font-family: 'Dosis-Bold';
  text-align: center;
}
@media only screen and (max-width: 500px) {
  /* line 424, ../sass/custom.scss */
  .index #main #content .container #advantages .note p span {
    font-size: 41px;
  }
}
/* line 437, ../sass/custom.scss */
.index #main #content .container #advantages .advantage-list {
  list-style: none;
  margin-bottom: 40px;
}
@media only screen and (max-width: 870px) {
  /* line 437, ../sass/custom.scss */
  .index #main #content .container #advantages .advantage-list {
    margin-bottom: 20px;
  }
}
/* line 445, ../sass/custom.scss */
.index #main #content .container #advantages .advantage-list li {
  font-size: 24px;
  font-family: 'Dosis-Regular';
  line-height: 36px;
  margin-bottom: 12px;
  padding-left: 50px;
}
@media only screen and (max-width: 1200px) {
  /* line 445, ../sass/custom.scss */
  .index #main #content .container #advantages .advantage-list li {
    font-size: 20px;
  }
}
@media only screen and (max-width: 870px) {
  /* line 445, ../sass/custom.scss */
  .index #main #content .container #advantages .advantage-list li {
    font-size: 18px;
    line-height: 20px;
  }
}
/* line 461, ../sass/custom.scss */
.index #main #content .container #advantages .advantage-list li:before {
  width: 36px;
  height: 36px;
  background: url(../img/check.png) no-repeat center;
  background-size: 100%;
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
  margin-left: -50px;
}
/* line 475, ../sass/custom.scss */
.index #main #content .container #advantages .code-box {
  padding: 25px;
  border-top: 4px solid #eee;
  border-bottom: 4px solid #eee;
  margin-right: 30px;
}
@media only screen and (max-width: 1200px) {
  /* line 475, ../sass/custom.scss */
  .index #main #content .container #advantages .code-box {
    padding: 25px 15px;
  }
}
@media only screen and (max-width: 980px) {
  /* line 475, ../sass/custom.scss */
  .index #main #content .container #advantages .code-box {
    text-align: center;
  }
}
@media only screen and (max-width: 870px) {
  /* line 475, ../sass/custom.scss */
  .index #main #content .container #advantages .code-box {
    padding: 15px 0;
    margin-right: 0;
  }
}
/* line 494, ../sass/custom.scss */
.index #main #content .container #advantages .code-box label {
  display: inline-block;
  width: 190px;
  vertical-align: middle;
}
@media only screen and (max-width: 1200px) {
  /* line 494, ../sass/custom.scss */
  .index #main #content .container #advantages .code-box label {
    width: 150px;
  }
}
@media only screen and (max-width: 980px) {
  /* line 494, ../sass/custom.scss */
  .index #main #content .container #advantages .code-box label {
    width: 120px;
  }
}
/* line 507, ../sass/custom.scss */
.index #main #content .container #advantages .code-box label:before {
  content: "";
  display: block;
  padding-top: 100%;
}
/* line 513, ../sass/custom.scss */
.index #main #content .container #advantages .code-box label p {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #c41d70;
  border-radius: 1000px;
  text-align: center;
  font-size: 32px;
  font-family: 'Dosis-Regular';
  text-transform: uppercase;
  color: white;
  padding-top: 15px;
}
@media only screen and (max-width: 1200px) {
  /* line 513, ../sass/custom.scss */
  .index #main #content .container #advantages .code-box label p {
    font-size: 24px;
  }
}
@media only screen and (max-width: 980px) {
  /* line 513, ../sass/custom.scss */
  .index #main #content .container #advantages .code-box label p {
    font-size: 20px;
  }
}
/* line 536, ../sass/custom.scss */
.index #main #content .container #advantages .code-box label p span {
  font-size: 64px;
  display: block;
  text-align: center;
  top: 10px;
}
@media only screen and (max-width: 1200px) {
  /* line 536, ../sass/custom.scss */
  .index #main #content .container #advantages .code-box label p span {
    font-size: 50px;
    top: 0;
  }
}
@media only screen and (max-width: 980px) {
  /* line 536, ../sass/custom.scss */
  .index #main #content .container #advantages .code-box label p span {
    font-size: 40px;
  }
}
/* line 554, ../sass/custom.scss */
.index #main #content .container #advantages .code-box .terms {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}
/* line 559, ../sass/custom.scss */
.index #main #content .container #advantages .code-box .terms p {
  display: inline-block;
  font-size: 30px;
  font-family: 'Dosis-Light';
  text-align: center;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1200px) {
  /* line 559, ../sass/custom.scss */
  .index #main #content .container #advantages .code-box .terms p {
    font-size: 24px;
  }
}
@media only screen and (max-width: 980px) {
  /* line 559, ../sass/custom.scss */
  .index #main #content .container #advantages .code-box .terms p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 500px) {
  /* line 559, ../sass/custom.scss */
  .index #main #content .container #advantages .code-box .terms p {
    font-size: 18px;
  }
}
/* line 578, ../sass/custom.scss */
.index #main #content .container #advantages .code-box .terms p strong {
  font-family: 'Dosis-Medium';
}
/* line 582, ../sass/custom.scss */
.index #main #content .container #advantages .code-box .terms p.code {
  display: block;
  font-size: 22px;
  color: #c41d70;
  font-family: 'Dosis-Regular';
  text-align: center;
  margin-bottom: 0;
}
@media only screen and (max-width: 1200px) {
  /* line 582, ../sass/custom.scss */
  .index #main #content .container #advantages .code-box .terms p.code {
    font-size: 20px;
  }
}
@media only screen and (max-width: 870px) {
  /* line 582, ../sass/custom.scss */
  .index #main #content .container #advantages .code-box .terms p.code {
    font-size: 18px;
  }
}
@media only screen and (max-width: 500px) {
  /* line 582, ../sass/custom.scss */
  .index #main #content .container #advantages .code-box .terms p.code {
    font-size: 16px;
  }
}
/* line 610, ../sass/custom.scss */
.index #main #content #howitworks {
  background: #f6f6f6;
  padding: 18px 0px;
}
/* line 614, ../sass/custom.scss */
.index #main #content #howitworks ul {
  list-style: none;
  text-align: center;
  margin-bottom: 25px;
}
/* line 619, ../sass/custom.scss */
.index #main #content #howitworks ul li {
  display: inline-block;
  text-align: center;
  width: 30%;
  margin: 0 2.5%;
  vertical-align: top;
}
@media only screen and (max-width: 870px) {
  /* line 619, ../sass/custom.scss */
  .index #main #content #howitworks ul li {
    margin: 0 0 25px;
    width: 100%;
    display: block;
  }
}
/* line 632, ../sass/custom.scss */
.index #main #content #howitworks ul li:first-of-type {
  margin-left: 0;
}
/* line 636, ../sass/custom.scss */
.index #main #content #howitworks ul li:last-of-type {
  margin-right: 0;
}
/* line 640, ../sass/custom.scss */
.index #main #content #howitworks ul li label {
  width: 160px;
  height: 160px;
  display: inline-block;
}
@media only screen and (max-width: 870px) {
  /* line 640, ../sass/custom.scss */
  .index #main #content #howitworks ul li label {
    width: 120px;
    height: 120px;
  }
}
@media only screen and (max-width: 500px) {
  /* line 640, ../sass/custom.scss */
  .index #main #content #howitworks ul li label {
    width: 80px;
    height: 80px;
  }
}
/* line 655, ../sass/custom.scss */
.index #main #content #howitworks ul li label img {
  width: 100%;
}
/* line 660, ../sass/custom.scss */
.index #main #content #howitworks ul li h4 {
  font-size: 30px;
  font-family: 'Dosis-Regular';
  text-align: center;
  margin-top: 10px;
}
@media only screen and (max-width: 1200px) {
  /* line 660, ../sass/custom.scss */
  .index #main #content #howitworks ul li h4 {
    font-size: 24px;
  }
}
/* line 670, ../sass/custom.scss */
.index #main #content #howitworks ul li h4 strong {
  font-size: 50px;
}
@media only screen and (max-width: 1200px) {
  /* line 670, ../sass/custom.scss */
  .index #main #content #howitworks ul li h4 strong {
    font-size: 40px;
  }
}
/* line 679, ../sass/custom.scss */
.index #main #content #howitworks ul li p {
  font-size: 20px;
  font-family: 'Dosis-Regular';
  text-align: center;
}
/* line 688, ../sass/custom.scss */
.index #main #content #faq {
  background: white;
  padding: 35px 0;
}
/* line 694, ../sass/custom.scss */
.index #main #content #faq .container ul li {
  border-bottom: 1px solid #e2e2e2;
  margin: 10px 0;
}
/* line 698, ../sass/custom.scss */
.index #main #content #faq .container ul li:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}
/* line 703, ../sass/custom.scss */
.index #main #content #faq .container ul li a, .index #main #content #faq .container ul li p {
  font-family: 'Dosis-Regular';
  line-height: 36px;
  font-size: 20px;
}
@media only screen and (max-width: 870px) {
  /* line 703, ../sass/custom.scss */
  .index #main #content #faq .container ul li a, .index #main #content #faq .container ul li p {
    line-height: 24px;
  }
}
/* line 713, ../sass/custom.scss */
.index #main #content #faq .container ul li a {
  text-decoration: underline;
  padding-bottom: 10px;
  transition: text-decoration 300ms ease-out;
  vertical-align: middle;
  display: inline-block;
  padding-left: 50px;
  white-space: normal;
}
/* line 722, ../sass/custom.scss */
.index #main #content #faq .container ul li a:before {
  margin-right: 14px;
  display: inline-block;
  width: 36px;
  height: 36px;
  content: '';
  background: url(../img/right.png) no-repeat;
  background-size: 36px;
  transition: background 300ms ease-out, transform 300ms ease-out;
  vertical-align: middle;
  margin-left: -50px;
}
/* line 735, ../sass/custom.scss */
.index #main #content #faq .container ul li a:hover {
  text-decoration: none;
}
/* line 739, ../sass/custom.scss */
.index #main #content #faq .container ul li a.opened {
  color: #c4334b;
}
/* line 742, ../sass/custom.scss */
.index #main #content #faq .container ul li a.opened:before {
  background: url(../img/down.png) no-repeat;
  background-size: 36px;
  transform: rotate(90deg);
}
/* line 750, ../sass/custom.scss */
.index #main #content #faq .container ul li p {
  display: none;
  padding-left: 50px;
  top: -10px;
}
/* line 760, ../sass/custom.scss */
.index #main #content #order {
  background: #61b573;
  padding: 25px 0;
}
/* line 765, ../sass/custom.scss */
.index #main #content #order .container hgroup {
  float: left;
  margin-top: -12px;
}
@media only screen and (max-width: 980px) {
  /* line 765, ../sass/custom.scss */
  .index #main #content #order .container hgroup {
    float: none;
  }
}
/* line 773, ../sass/custom.scss */
.index #main #content #order .container hgroup h2, .index #main #content #order .container hgroup p {
  color: white;
}
@media only screen and (max-width: 980px) {
  /* line 773, ../sass/custom.scss */
  .index #main #content #order .container hgroup h2, .index #main #content #order .container hgroup p {
    text-align: center;
  }
}
/* line 781, ../sass/custom.scss */
.index #main #content #order .container hgroup h2 {
  font-family: 'Dosis-Medium';
  margin-bottom: 10px;
}
@media only screen and (max-width: 1200px) {
  /* line 781, ../sass/custom.scss */
  .index #main #content #order .container hgroup h2 {
    margin-bottom: 0;
  }
}
/* line 790, ../sass/custom.scss */
.index #main #content #order .container hgroup p {
  font-size: 30px;
  font-family: 'Dosis-Light';
}
@media only screen and (max-width: 980px) {
  /* line 790, ../sass/custom.scss */
  .index #main #content #order .container hgroup p {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 870px) {
  /* line 790, ../sass/custom.scss */
  .index #main #content #order .container hgroup p {
    font-size: 20px;
  }
}
/* line 804, ../sass/custom.scss */
.index #main #content #order .container .btn-box {
  text-align: right;
}
@media only screen and (max-width: 980px) {
  /* line 804, ../sass/custom.scss */
  .index #main #content #order .container .btn-box {
    text-align: center;
  }
}
/* line 811, ../sass/custom.scss */
.index #main #content #order .container .btn-box .white {
  background: white;
  font-size: 42px !important;
  padding: 20px 35px;
  color: black !important;
}
/* line 817, ../sass/custom.scss */
.index #main #content #order .container .btn-box .white:hover {
  background: #f2f2f2;
}
@media only screen and (max-width: 870px) {
  /* line 811, ../sass/custom.scss */
  .index #main #content #order .container .btn-box .white {
    font-size: 27px !important;
  }
}
/* line 829, ../sass/custom.scss */
.index #main #content #reviews {
  background: #f6f6f6;
  padding: 20px 0px 40px;
}
/* line 835, ../sass/custom.scss */
.index #main #content #reviews .container .reviews .review {
  margin-bottom: 35px;
}
/* line 838, ../sass/custom.scss */
.index #main #content #reviews .container .reviews .review .user {
  margin-bottom: 10px;
}
/* line 841, ../sass/custom.scss */
.index #main #content #reviews .container .reviews .review .user .mask {
  width: 36px;
  height: 36px;
  border-radius: 1000px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
/* line 850, ../sass/custom.scss */
.index #main #content #reviews .container .reviews .review .user .mask img {
  width: 100%;
}
/* line 855, ../sass/custom.scss */
.index #main #content #reviews .container .reviews .review .user .name, .index #main #content #reviews .container .reviews .review .user .date {
  font-size: 18px;
  vertical-align: middle;
}
/* line 860, ../sass/custom.scss */
.index #main #content #reviews .container .reviews .review .user .name {
  font-family: 'Dosis-Medium';
}
/* line 864, ../sass/custom.scss */
.index #main #content #reviews .container .reviews .review .user .date {
  color: #8b8b8b;
  font-family: 'Dosis-Regular';
}
/* line 870, ../sass/custom.scss */
.index #main #content #reviews .container .reviews .review p {
  font-size: 18px;
  font-family: 'Dosis-Regular';
}
/* line 875, ../sass/custom.scss */
.index #main #content #reviews .container .reviews .review .review-message {
  margin-bottom: 10px;
}
/* line 878, ../sass/custom.scss */
.index #main #content #reviews .container .reviews .review .review-message p {
  padding: 18px 25px;
  background: white;
  border-radius: 4px;
}
/* line 885, ../sass/custom.scss */
.index #main #content #reviews .container .reviews .review .answer {
  border-left: 1px solid #8b8b8b;
  padding: 5px 0 5px 10px;
  margin-left: 30px;
}
/* line 891, ../sass/custom.scss */
.index #main #content #reviews .container .reviews .review .answer .user .name {
  color: #c4334b;
}
/* line 899, ../sass/custom.scss */
.index #main #content #reviews .container .add {
  text-transform: uppercase;
  color: #8b8b8b;
  font-size: 16px;
  font-family: 'Dosis-Regular';
}
/* line 905, ../sass/custom.scss */
.index #main #content #reviews .container .add:hover {
  text-decoration: underline;
}
/* line 909, ../sass/custom.scss */
.index #main #content #reviews .container .add img {
  width: 20px;
  vertical-align: bottom;
  margin-right: 5px;
}
/* line 918, ../sass/custom.scss */
.index #main #content #contacts {
  background: white;
  padding: 35px 0;
}
/* line 924, ../sass/custom.scss */
.index #main #content #contacts .container form .message {
  background: white;
}
/* line 927, ../sass/custom.scss */
.index #main #content #contacts .container form .message .message_text div {
  color: black;
  font-family: 'Dosis-Regular';
  font-size: 20px;
}
/* line 934, ../sass/custom.scss */
.index #main #content #contacts .container form .submit, .index #main #content #contacts .container form .btn-box {
  text-align: center;
}
/* line 937, ../sass/custom.scss */
.index #main #content #contacts .container form .submit .wine, .index #main #content #contacts .container form .btn-box .wine {
  display: inline-block;
  margin: 0;
  width: auto;
  box-shadow: none;
  border: none;
  font-weight: normal;
  text-shadow: none;
}
/* line 948, ../sass/custom.scss */
.index #main #content #contacts .container form .form_line {
  padding: 0;
}
/* line 951, ../sass/custom.scss */
.index #main #content #contacts .container form .form_line.text {
  margin: 15px 0 25px;
}
/* line 955, ../sass/custom.scss */
.index #main #content #contacts .container form .form_line label.error {
  display: block;
  top: auto;
  left: 0;
  letter-spacing: 0;
  color: #c4334b;
}
@media only screen and (max-width: 870px) {
  /* line 955, ../sass/custom.scss */
  .index #main #content #contacts .container form .form_line label.error {
    bottom: -5px;
  }
}
/* line 967, ../sass/custom.scss */
.index #main #content #contacts .container form .form_line .w25 {
  width: 23.5%;
  margin: 0 1%;
  float: left;
}
/* line 972, ../sass/custom.scss */
.index #main #content #contacts .container form .form_line .w25:first-of-type {
  margin-left: 0;
}
/* line 976, ../sass/custom.scss */
.index #main #content #contacts .container form .form_line .w25:last-of-type {
  margin-right: 0;
}
@media only screen and (max-width: 870px) {
  /* line 967, ../sass/custom.scss */
  .index #main #content #contacts .container form .form_line .w25 {
    width: 48.5%;
    margin: 0 1.5%;
  }
  /* line 984, ../sass/custom.scss */
  .index #main #content #contacts .container form .form_line .w25:nth-of-type(odd) {
    margin-left: 0;
  }
  /* line 988, ../sass/custom.scss */
  .index #main #content #contacts .container form .form_line .w25:nth-of-type(even) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 500px) {
  /* line 967, ../sass/custom.scss */
  .index #main #content #contacts .container form .form_line .w25 {
    width: 100%;
    margin: 0;
  }
}
/* line 998, ../sass/custom.scss */
.index #main #content #contacts .container form .form_line .w25 label, .index #main #content #contacts .container form .form_line .w25 .input {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  background: none;
  float: none;
  padding-bottom: 5px;
}
/* line 1007, ../sass/custom.scss */
.index #main #content #contacts .container form .form_line .w25 label.focus, .index #main #content #contacts .container form .form_line .w25 .input.focus {
  box-shadow: none;
}
/* line 1013, ../sass/custom.scss */
.index #main #content #contacts .container form .form_line label, .index #main #content #contacts .container form .form_line input[type="text"], .index #main #content #contacts .container form .form_line input[type="email"], .index #main #content #contacts .container form .form_line input[type="tel"], .index #main #content #contacts .container form .form_line textarea {
  font-size: 18px;
  font-family: 'Dosis-Regular';
  font-weight: normal;
  text-shadow: none;
  color: black;
}
/* line 1021, ../sass/custom.scss */
.index #main #content #contacts .container form .form_line textarea, .index #main #content #contacts .container form .form_line input[type="text"], .index #main #content #contacts .container form .form_line input[type="email"], .index #main #content #contacts .container form .form_line input[type="tel"] {
  background: #f6f6f6;
  border-radius: 4px;
  outline: none;
  padding: 13px 10px;
  margin: 0 0 10px;
  width: calc(100% - 20px);
}
@media only screen and (max-width: 870px) {
  /* line 1021, ../sass/custom.scss */
  .index #main #content #contacts .container form .form_line textarea, .index #main #content #contacts .container form .form_line input[type="text"], .index #main #content #contacts .container form .form_line input[type="email"], .index #main #content #contacts .container form .form_line input[type="tel"] {
    margin: 0 0 20px;
  }
}
/* line 1034, ../sass/custom.scss */
.index #main #content #contacts .container form .form_line textarea {
  height: 150px;
}
/* line 1042, ../sass/custom.scss */
.index #main #content #terms {
  background: #f6f6f6;
  padding: 35px 0;
}
/* line 1047, ../sass/custom.scss */
.index #main #content #terms .container .text {
  width: 50%;
  float: left;
}
@media only screen and (max-width: 870px) {
  /* line 1047, ../sass/custom.scss */
  .index #main #content #terms .container .text {
    width: 100%;
    float: none;
  }
}
@media only screen and (max-width: 870px) {
  /* line 1057, ../sass/custom.scss */
  .index #main #content #terms .container .text {
    margin-bottom: 20px;
  }
}
/* line 1063, ../sass/custom.scss */
.index #main #content #terms .container .text h5, .index #main #content #terms .container .text p {
  font-family: 'Dosis-Regular';
}
@media only screen and (max-width: 870px) {
  /* line 1063, ../sass/custom.scss */
  .index #main #content #terms .container .text h5, .index #main #content #terms .container .text p {
    text-align: center;
  }
}
/* line 1071, ../sass/custom.scss */
.index #main #content #terms .container .text h5 {
  margin-bottom: 35px;
  font-size: 24px;
}
/* line 1076, ../sass/custom.scss */
.index #main #content #terms .container .text p {
  font-size: 20px;
}
/* line 1081, ../sass/custom.scss */
.index #main #content #terms .container table {
  border-collapse: separate;
  border-spacing: 0;
  width: 25%;
  float: left;
}
@media only screen and (max-width: 870px) {
  /* line 1081, ../sass/custom.scss */
  .index #main #content #terms .container table {
    width: 100%;
    float: none;
  }
  /* line 1091, ../sass/custom.scss */
  .index #main #content #terms .container table:last-of-type {
    top: -1px;
  }
}
/* line 1098, ../sass/custom.scss */
.index #main #content #terms .container table tr:last-of-type td {
  border-bottom: 1px solid #e2e2e2;
}
/* line 1103, ../sass/custom.scss */
.index #main #content #terms .container table tr td {
  font-size: 18px;
  font-family: 'Dosis-Regular';
  border-top: 1px solid #e2e2e2;
  padding: 4px 0;
}
/* line 1116, ../sass/custom.scss */
.index #footer {
  background: #901e30;
  padding: 35px 0;
}
/* line 1120, ../sass/custom.scss */
.index #footer .container {
  background: url(../img/logo_footer.png) no-repeat center 110px;
  background-size: 230px;
}
@media only screen and (max-width: 870px) {
  /* line 1120, ../sass/custom.scss */
  .index #footer .container {
    padding-top: 185px;
  }
}
/* line 1128, ../sass/custom.scss */
.index #footer .container .top {
  width: 76px;
  height: 76px;
  background: url(../img/up.png) no-repeat center;
  background-size: 76px;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 50%;
  margin-left: -38px;
}
/* line 1140, ../sass/custom.scss */
.index #footer .container .info, .index #footer .container .contacts {
  width: 50%;
  float: right;
}
@media only screen and (max-width: 870px) {
  /* line 1140, ../sass/custom.scss */
  .index #footer .container .info, .index #footer .container .contacts {
    width: 100%;
    float: none;
  }
}
/* line 1151, ../sass/custom.scss */
.index #footer .container .info .copyright, .index #footer .container .info .company_info {
  font-family: 'Dosis-Regular';
}
/* line 1155, ../sass/custom.scss */
.index #footer .container .info .copyright {
  text-align: left;
  font-size: 20px;
  color: white;
}
@media only screen and (max-width: 870px) {
  /* line 1155, ../sass/custom.scss */
  .index #footer .container .info .copyright {
    text-align: center;
  }
}
/* line 1165, ../sass/custom.scss */
.index #footer .container .info .company_info {
  font-size: 18px;
  color: #b6b6b6;
}
@media only screen and (max-width: 870px) {
  /* line 1165, ../sass/custom.scss */
  .index #footer .container .info .company_info {
    text-align: center;
  }
}
@media only screen and (max-width: 870px) {
  /* line 1175, ../sass/custom.scss */
  .index #footer .container .contacts {
    margin-bottom: 20px;
  }
}
/* line 1180, ../sass/custom.scss */
.index #footer .container .contacts .email, .index #footer .container .contacts .phone {
  text-align: right;
}
@media only screen and (max-width: 870px) {
  /* line 1180, ../sass/custom.scss */
  .index #footer .container .contacts .email, .index #footer .container .contacts .phone {
    text-align: center;
  }
}
/* line 1187, ../sass/custom.scss */
.index #footer .container .contacts .email.email, .index #footer .container .contacts .phone.email {
  margin-bottom: 35px;
}
/* line 1190, ../sass/custom.scss */
.index #footer .container .contacts .email.email a:hover, .index #footer .container .contacts .phone.email a:hover {
  text-decoration: underline;
}
/* line 1195, ../sass/custom.scss */
.index #footer .container .contacts .email span, .index #footer .container .contacts .phone span {
  width: 200px;
  text-align: center;
  display: inline-block;
}
/* line 1201, ../sass/custom.scss */
.index #footer .container .contacts .email span, .index #footer .container .contacts .email span a, .index #footer .container .contacts .phone span, .index #footer .container .contacts .phone span a {
  font-size: 24px;
  font-family: 'Dosis-Regular';
  color: white;
}

/* line 1212, ../sass/custom.scss */
#form-embed {
  width: 53%;
  float: left;
  padding: 20px 0;
}
@media only screen and (max-width: 870px) {
  /* line 1212, ../sass/custom.scss */
  #form-embed {
    float: none;
    width: 100%;
  }
}
/* line 1222, ../sass/custom.scss */
#form-embed .wrapper {
  padding: 0;
  background: #eee;
  border-radius: 4px;
}
/* line 1227, ../sass/custom.scss */
#form-embed .wrapper .volsor-form {
  background: none;
  border: none;
  box-shadow: none;
}
/* line 1232, ../sass/custom.scss */
#form-embed .wrapper .volsor-form .column-form {
  background: none;
}
/* line 1235, ../sass/custom.scss */
#form-embed .wrapper .volsor-form .column-form .column-padding {
  padding: 20px 15px;
}
/* line 1239, ../sass/custom.scss */
#form-embed .wrapper .volsor-form .column-form .column-padding form h2 {
  font-size: 24px;
  margin: 35px 0 15px;
  font-family: 'Titillium-Regular';
}
@media only screen and (max-width: 500px) {
  /* line 1239, ../sass/custom.scss */
  #form-embed .wrapper .volsor-form .column-form .column-padding form h2 {
    font-size: 20px;
  }
}
/* line 1248, ../sass/custom.scss */
#form-embed .wrapper .volsor-form .column-form .column-padding form h2 span {
  background: #eee;
  padding-right: 20px;
  position: relative;
}
/* line 1254, ../sass/custom.scss */
#form-embed .wrapper .volsor-form .column-form .column-padding form h2:before {
  content: '';
  border-bottom: 2px solid #dcdcdc;
  width: 100%;
  position: absolute;
  margin-top: 11px;
}
@media only screen and (max-width: 500px) {
  /* line 1254, ../sass/custom.scss */
  #form-embed .wrapper .volsor-form .column-form .column-padding form h2:before {
    display: none;
  }
}
/* line 1267, ../sass/custom.scss */
#form-embed .wrapper .volsor-form .column-form .column-padding form .steps {
  color: #c4334b;
  border-bottom: 2px solid #dcdcdc;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  font-family: 'Titillium-Regular';
  padding-left: 45px;
}
/* line 1276, ../sass/custom.scss */
#form-embed .wrapper .volsor-form .column-form .column-padding form .steps:before {
  background: #c4334b;
  width: 36px;
  height: 36px;
  text-align: center;
  padding: 0;
  font-size: 22px;
  line-height: 36px;
}
/* line 1286, ../sass/custom.scss */
#form-embed .wrapper .volsor-form .column-form .column-padding form .steps span {
  display: block;
}
/* line 1290, ../sass/custom.scss */
#form-embed .wrapper .volsor-form .column-form .column-padding form .steps .steps-line {
  display: none;
}
/* line 1295, ../sass/custom.scss */
#form-embed .wrapper .volsor-form .column-form .column-padding form .form-line {
  position: relative;
}
/* line 1298, ../sass/custom.scss */
#form-embed .wrapper .volsor-form .column-form .column-padding form .form-line .form-cell {
  width: 48.5%;
  margin: 0 1.5%;
}
/* line 1302, ../sass/custom.scss */
#form-embed .wrapper .volsor-form .column-form .column-padding form .form-line .form-cell:nth-of-type(odd) {
  margin-left: 0;
}
/* line 1306, ../sass/custom.scss */
#form-embed .wrapper .volsor-form .column-form .column-padding form .form-line .form-cell:nth-of-type(even) {
  margin-right: 0;
}
@media only screen and (max-width: 500px) {
  /* line 1298, ../sass/custom.scss */
  #form-embed .wrapper .volsor-form .column-form .column-padding form .form-line .form-cell {
    width: 100%;
    margin: 0;
  }
}
/* line 1315, ../sass/custom.scss */
#form-embed .wrapper .volsor-form .column-form .column-padding form .form-line .form-cell label {
  font-size: 18px;
  margin: 0;
  font-family: 'Titillium-Regular';
  color: black;
}
@media only screen and (max-width: 980px) {
  /* line 1315, ../sass/custom.scss */
  #form-embed .wrapper .volsor-form .column-form .column-padding form .form-line .form-cell label {
    font-size: 16px;
  }
}
/* line 1326, ../sass/custom.scss */
#form-embed .wrapper .volsor-form .column-form .column-padding form .form-line .form-cell .form-element {
  border: none;
  height: auto;
  background: none;
}
/* line 1331, ../sass/custom.scss */
#form-embed .wrapper .volsor-form .column-form .column-padding form .form-line .form-cell .form-element select {
  background: url("../img/select-arrow.png") no-repeat right center white;
  width: 100%;
}
/* line 1336, ../sass/custom.scss */
#form-embed .wrapper .volsor-form .column-form .column-padding form .form-line .form-cell .form-element select, #form-embed .wrapper .volsor-form .column-form .column-padding form .form-line .form-cell .form-element input {
  background-color: white;
  border-radius: 4px;
  height: 46px;
  font-size: 18px;
  font-family: "Titillium-Semibold";
  line-height: 20px;
}
@media only screen and (max-width: 980px) {
  /* line 1336, ../sass/custom.scss */
  #form-embed .wrapper .volsor-form .column-form .column-padding form .form-line .form-cell .form-element select, #form-embed .wrapper .volsor-form .column-form .column-padding form .form-line .form-cell .form-element input {
    font-size: 16px;
  }
}
/* line 1348, ../sass/custom.scss */
#form-embed .wrapper .volsor-form .column-form .column-padding form .form-line .form-cell .form-element select::-webkit-input-placeholder, #form-embed .wrapper .volsor-form .column-form .column-padding form .form-line .form-cell .form-element input::-webkit-input-placeholder {
  color: #eee;
  font-size: 18px;
}
/* line 1349, ../sass/custom.scss */
#form-embed .wrapper .volsor-form .column-form .column-padding form .form-line .form-cell .form-element select::-moz-placeholder, #form-embed .wrapper .volsor-form .column-form .column-padding form .form-line .form-cell .form-element input::-moz-placeholder {
  color: #eee;
  font-size: 18px;
}
/* line 1350, ../sass/custom.scss */
#form-embed .wrapper .volsor-form .column-form .column-padding form .form-line .form-cell .form-element select:-moz-placeholder, #form-embed .wrapper .volsor-form .column-form .column-padding form .form-line .form-cell .form-element input:-moz-placeholder {
  color: #eee;
  font-size: 18px;
}
/* line 1351, ../sass/custom.scss */
#form-embed .wrapper .volsor-form .column-form .column-padding form .form-line .form-cell .form-element select:-ms-input-placeholder, #form-embed .wrapper .volsor-form .column-form .column-padding form .form-line .form-cell .form-element input:-ms-input-placeholder {
  color: #eee;
  font-size: 18px;
}
/* line 1355, ../sass/custom.scss */
#form-embed .wrapper .volsor-form .column-form .column-padding form .form-line .form-cell.button {
  margin: 0;
  width: 100%;
}
/* line 1359, ../sass/custom.scss */
#form-embed .wrapper .volsor-form .column-form .column-padding form .form-line .form-cell.button .form-element {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}
/* line 1364, ../sass/custom.scss */
#form-embed .wrapper .volsor-form .column-form .column-padding form .form-line .form-cell.button .form-element input[type="submit"] {
  display: inline-block;
  border-radius: 1000px;
  text-transform: uppercase;
  color: white !important;
  padding: 15px 30px;
  font-size: 34px !important;
  font-family: "Dosis-Semibold" !important;
  box-shadow: none;
  border: none;
  text-shadow: none;
  transition: background 300ms ease-out;
  background: #61b573;
  height: 87px;
  width: auto;
}
@media only screen and (max-width: 870px) {
  /* line 1364, ../sass/custom.scss */
  #form-embed .wrapper .volsor-form .column-form .column-padding form .form-line .form-cell.button .form-element input[type="submit"] {
    font-size: 30px !important;
  }
}
/* line 1384, ../sass/custom.scss */
#form-embed .wrapper .volsor-form .column-form .column-padding form .form-line .form-cell.button .form-element input[type="submit"]:hover {
  background: #51ac64;
}
/* line 1391, ../sass/custom.scss */
#form-embed .wrapper .volsor-form .column-form .column-padding form .form-line .form-cell.checkbox {
  width: 100%;
}
/* line 1394, ../sass/custom.scss */
#form-embed .wrapper .volsor-form .column-form .column-padding form .form-line .form-cell.checkbox .label-checkbox {
  padding-left: 30px;
  font-size: 16px;
}
/* line 1398, ../sass/custom.scss */
#form-embed .wrapper .volsor-form .column-form .column-padding form .form-line .form-cell.checkbox .label-checkbox a {
  color: black;
  font-family: "Titillium-Semibold";
}
/* line 1403, ../sass/custom.scss */
#form-embed .wrapper .volsor-form .column-form .column-padding form .form-line .form-cell.checkbox .label-checkbox span {
  width: 22px;
  height: 22px;
  border-radius: 4px;
  border: 1px solid #61b573;
  background: white;
  top: 0 !important;
}
/* line 1411, ../sass/custom.scss */
#form-embed .wrapper .volsor-form .column-form .column-padding form .form-line .form-cell.checkbox .label-checkbox span:after {
  content: '';
  background: url(../img/check.png) no-repeat center;
  background-size: 140%;
  top: 0 !important;
  left: 0;
  width: 100%;
  height: 100%;
}
